@model Ecommer.Models.Entities.Penjual
@{
    ViewData["Title"] = "Update Page";
}

<div class="text-center">
    <h1 class="display-4">Update Penjual</h1>
</div>
<form action="Update" method="post">
    <div class="mb-3">
        <label for="NamaToko" class="form-label">Nama Toko</label>
        <input type="text" class="form-control" id="NamaToko" asp-for= "NamaToko" aria-describedby="emailHelp" placeholder="Masukkan Nama Toko">
    </div>
    <div class="mb-3">
        <label for="Alamat" class="form-label">Alamat Toko</label>
        <input type="text" class="form-control" id="Alamat" asp-for= "Alamat" placeholder="Masukkan Alamat Toko">
    </div>
    <input type="hidden" asp-for="Id">
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-outline-primary" asp-controller="Penjual" asp-action="Index">Back</a>
</form>
